data/**/*

!data/**/.gitkeep

resources/dbsnp_hg37_contig/*

resources/ref_panel/*

resources/*.dict

resources/*.fa

resources/*.fa.fai

.Rproj.user

.*log

.Rhistory

resources/ftp.1000genomes.ebi.ac.uk/*

software/gatk-4.4.0.0/*
